table {
  font-size: 14px;
}
form {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  table {
    font-size: 8px;
  }
  form {
    font-size: 8px;
  }
}
.el-menu {
  border-right: none; 
}